<%- layout("/layout/boilerplate") %>

    <div class="container">
        <div class="filter-container">

            <div class="filters-wrapper" id="filtersWrapper">
                <% const categories=[ { name: "Trending" , icon: "fa-fire" }, { name: "Domes" , icon: "fa-igloo" }, {
                    name: "Bed & Breakfast" , icon: "fa-mug-saucer" }, { name: "Top Cities" , icon: "fa-city" }, {
                    name: "Mountains" , icon: "fa-mountain" }, { name: "Boats" , icon: "fa-sailboat" }, {
                    name: "Container" , icon: "fa-box" }, { name: "Castles" , icon: "fa-fort-awesome" }, {
                    name: "Frames" , icon: "fa-film" }, { name: "Mountain Sun" , icon: "fa-mountain-sun" }, {
                    name: "Earth Homes" , icon: "fa-house-crack" }, { name: "Artics" , icon: "fa-snowflake" }, {
                    name: "Pools" , icon: "fa-person-swimming" } ]; %>

                    <% for (let category of categories) { %>
                        <div class="filter-item">
                            <a href="/listings/category/<%= category.name %>">
                                <div><i class="fa-solid <%= category.icon %>"></i></div>
                                <p>
                                    <%= category.name %>
                                </p>
                            </a>
                        </div>
                        <% } %>
            </div>

            <div class="tax-toggle">
                <div class="tax-switch">
                    <div class="form-check-reverse form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Display taxes</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <body style="margin-top: 100px !important;">
        <!-- <h3 class="text-center my-3">All Listings</h3> -->
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                <% for (const Listing of allListings) { %>
                    <a href="/listings/<%=Listing._id %>" class="link-list">
                        <div class="col">
                            <div class="card h-100">
                                <img style="height: 20rem;" src="<%=Listing.image.url %>" class="card-img-top"
                                    alt="Listing_image">
                                <div class="card-img-overlay"></div>
                                <div class="card-body d-flex flex-column">
                                    <p class="card-text flex-grow-1">
                                        <b style="color: #212529;">
                                            <%=Listing.title %>
                                        </b>
                                        <br>
                                    <p style="color: #6a6a6a;">
                                        <%=Listing.description %>
                                    </p>
                                    <div style="color: #212529;">
                                        &#8377;<%=Listing.price.toLocaleString("en-IN") %>/ night
                                            <i class="tex_info" style="display: none;">&nbsp; +18% GST</i>

                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <% } %>
            </div>
        </div>
    </body>